body {
    font-family: "Roboto", "Arial", sans-serif;
	margin: 1%;
	background-color:rgb(240, 236, 228);
}

#uploadlabel {
    display: block;
	text-align: center;
    font-size: 3vw;
	color:rgb(63, 63, 63);
	margin: auto;
    width: 75%;
    height: 50%;
	margin-top: 25vh;
	line-height: 5em;
	background-color: rgb(240, 214, 181);
	transition: 0.5s;
	border-radius: 20px;
}

#uploadlabel:hover{
	background-color: rgb(233, 187, 144);
}

#uploader{
	margin: 0 auto;
	display: block;
}

br~img, label img{
	transition: 0.5s;
	border-radius: 5%;
}

img:hover{
	background-color: white;
}

#masker {
	grid-area: masker;
}

#tools {
    height: 10%;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
	margin: 0px;
	background:  rgb(247, 229, 205);
	line-height: 30px;
    
}

#alpha {
	margin-top: 3px;
	display:inline-block;
	line-height: 0;

	-webkit-appearance: none;
	appearance: none;
	background-color:rgb(231, 199, 173);
	outline: none;
	height: 10px;
	border: none;
	opacity: 0.5;
	width: 50%;
	padding: 10px;
	transition: 0.5s;
}

#alpha:hover{
	background-color:rgb(236, 212, 192);
}

#alpha::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	background: rgb(224, 146, 82);
	width: 5px;
	height: 20px;
}

#sliderValue{
	display: inline-block;
	line-height: 0;
	margin-top: 0.75em;
	vertical-align: top;
	font-size: 1.5em;
}


#masks {
    margin-top: -8px;
    border: 2px solid #555;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
	padding-left: 12px;
	background: rgb(247, 229, 205);
}

#preview {
	grid-area: preview;
}

#container {
	display: none;
	grid-gap: 10px;
	grid-template-columns: 325px auto;
	grid-template-areas: 
		"masker preview"
}

#buttons {
	margin-bottom: 5px;
}

#masks img {
    cursor: pointer;
}


#hidden {
	display: none;
}

#buttons button, #buttons :first-child{
	background-color: rgb(236, 140, 116);
	color: white;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.5s;
}

#buttons button:hover, #buttons :first-child:hover{
	background-color: rgb(240, 161, 142);
}

#roundTitle, #uploadedUrl{
	border: none;
	background-color: rgb(238, 168, 150);
	color: white;
	padding: 10px;
	display: none;
}

#PostReddit{
	margin-top: 10px;
}

#roundTitle::placeholder{
	color: white;
}

#mobilePaste{
	display: none;
	text-align: center;
	padding: 20px;
}

#mobilePaste input{
	background-color :rgb(240, 214, 181);
	border: none;
	width: 40vw;
	height: 75px;
	color:rgb(63, 63, 63);
	padding: 10px;
	margin-bottom: 10px;
	font-size: 150%
}

/*#mobilePaste button{
	border: none;
	background-color :rgb(226, 207, 182);
	color:rgb(63, 63, 63);
	height: 60px;
}*/

@media screen and (max-aspect-ratio: 11/16) {
	#mobilePaste{
		display: block;
	}
}