body {
    font-family: "Roboto", "Arial", sans-serif;
	margin: 1%;
	background-color:rgb(240, 236, 228);
}

#uploadlabel {
    display: block;
	text-align: center;
    font-size: 3vw;
	color:rgb(63, 63, 63);
	margin: auto;
    width: 75%;
    height: 50%;
	margin-top: 25vh;
	line-height: 5em;
	background-color: rgb(240, 214, 181);
	transition: 0.5s;
	border-radius: 20px;
}

#uploadlabel:hover{
	background-color: rgb(233, 187, 144);
}

#uploader{
	margin: 0 auto;
	display: block;
}

br~img, label img{
	transition: 0.5s;
	border-radius: 5%;
}

img:hover{
	background-color: white;
}

#masker {
	grid-area: masker;
}

#tools {
    /*height: 20%;*/
    border: 2px solid #555;
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
	margin: 0px;
	background:  rgb(247, 229, 205);
	line-height: 30px;
    
}

#colorSelect{
	background-color: transparent;
	padding: 0;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: 10px;
}

#alpha, #zoom, #brushSize {
	display:inline-block;
	line-height: 0;

	-webkit-appearance: none;
	appearance: none;
	background-color:rgb(231, 199, 173);
	outline: none;
	height: 10px;
	border: none;
	opacity: 0.5;
	width: 70%;
	padding: 10px;
	transition: 0.5s;
}

#alpha:hover, #zoom:hover, #brushSize:hover{
	background-color:rgb(236, 212, 192);
}

#alpha::-webkit-slider-thumb, #zoom::-webkit-slider-thumb, #brushSize::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	background: rgb(224, 146, 82);
	width: 5px;
	height: 20px;
}

#sliderValue{
	display: inline-block;
	line-height: 0;
	margin-top: 0.75em;
	vertical-align: top;
	font-size: 1.5em;
}


#masks {
    margin-top: -8px;
    border: 2px solid #555;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
	padding-left: 12px;
	background: rgb(247, 229, 205);
}

#preview {
	grid-area: preview;
}

#savedRounds{
	display: none;
	text-align: center;
}

#left, #right{
	display: inline-block;
	border: none;
	background-color: rgb(255, 197, 88);
	padding: 6px;
	font-size: 1.8em;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-top: 7%;
}

#left{
	float: left;
	margin-left: 20vw;
}

#right{
	float: right;
	margin-right: 20vw;
	margin-left: 0;
}

#displayedImage{
	display: inline-block;
	width: 40vw;
	margin: 0 auto;
	
}

#displayRounds{
	border: none;
	background-color: rgb(240, 214, 181);
	color:rgb(63, 63, 63);
	height: 40px;
	border-radius: 5px;
	position: relative;
	left: 50%;
	margin-top: 3em;
	transform: translate(-50%, -50%);
	font-size: 1.2em;
}

#displayedTitle, #displayedAnswer{
	position: relative;
	margin: 5px;
	width: 300px;
}

#PostReddit2, #delete{
	position: relative;
	margin: 5px;
	width: 200px;
}

#container {
	display: none;
	grid-gap: 10px;
	grid-template-columns: 325px auto;
	grid-template-areas: 
		"masker preview"
}

#buttons {
	margin-bottom: 5px;
}

#masks img {
    cursor: pointer;
}


#buttons button, #buttons :first-child, #PostReddit2, #delete{
	background-color: rgb(236, 140, 116);
	color: white;
	border: none;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: 0.5s;
}

#buttons button:hover, #buttons :first-child:hover{
	background-color: rgb(240, 161, 142);
}

#roundTitle, #uploadedUrl, #displayedTitle, #roundAnswer, #displayedAnswer{
	border: none;
	background-color: rgb(238, 168, 150);
	color: white;
	padding: 10px;
}

#roundTitle, #roundAnswer, #uploadedUrl{
	display: none;
}

#PostReddit{
	margin-top: 10px;
}

#roundTitle::placeholder, #roundAnswer::placeholder, #displayedTitle::placeholder, #displayedAnswer::placeholder{
	color: rgb(230, 230, 230);
}

#mobilePaste{
	display: none;
	text-align: center;
	padding: 20px;
}

#mobilePaste input{
	background-color :rgb(240, 214, 181);
	border: none;
	width: 40vw;
	height: 75px;
	color:rgb(63, 63, 63);
	padding: 10px;
	margin-bottom: 10px;
	font-size: 150%
}

#previewImage{
	display: none;
}

/*#mobilePaste button{
	border: none;
	background-color :rgb(226, 207, 182);
	color:rgb(63, 63, 63);
	height: 60px;
}*/

@media screen and (max-aspect-ratio: 11/16) {
	#mobilePaste{
		display: block;
	}
}