body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 1%;
}

#uploadlabel {
    display: block;
	text-align: center;
    font-size: 300%;
	color:#000;
	margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    
}

#masker {
	grid-area: masker;
}

#tools {
    height: 10%;
    border: solid;
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
    margin: 0px;
    
}

#alpha {
    margin-top: 3px;
}

#masks {
    margin-top: -8px;
    border: solid;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
    padding-left: 12px;
}

#preview {
	grid-area: preview;
}

#container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 325px auto;
	grid-template-areas: 
		"masker preview"
}

#buttons {
	margin-bottom: 5px;
}

#masks img {
    cursor: pointer;
}

#hidden {
	display: none;
}
