body {
	background-color: #f0f0f0;
	margin: 30px;
}

#uploader {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#masker {
	grid-area: masker;
}

#preview {
	grid-area: preview;
}

#container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 200px auto;
	grid-template-areas: 
		"masker preview"
}

#buttons {
	margin-bottom: 5px;
}

#masks img {
    cursor: pointer;
}

#hidden {
	display: none;
}